.h1 {
    color: #2d5030;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 670px) {
    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
}

@media screen and (min-width: 990px) {
    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1390px) {
    .container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}